.App {
  text-align: center;
  display: grid;
  grid-template-areas: 
    "left right";
  grid-template-rows: 100vh;
  grid-template-columns: 1fr 1fr;
}

Left {
  grid-area: left;
}

Right {
  grid-area: right;
}

